# Dataset B – Wine Quality
## Exploratory Data Analysis (EDA)

We want to understand the structure, target distribution, and key properties of the Wine Quality dataset in order to formulate hypothesis-driven expectations about algorithmic performance.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

np.random.seed(49)

### Data Loading

We load the Wine Quality dataset and inspect its basic structure.

In [2]:
DATA_PATH = "../wine.csv"
df = pd.read_csv(DATA_PATH)

df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,class,type,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,5

The variables quality, class, and type are categorical in nature, despite being encoded as integers. Specifically, quality is an ordinal multi-class target variable, type is a binary categorical feature, and class represents a discrete categorical grouping. All remaining features are continuous numerical physicochemical measurements.

### Dataset Overview

We examine dataset size, feature types, and missing values.

In [3]:
df.shape

(6497, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         6497 non-null   float64
 1   volatile_acidity      6497 non-null   float64
 2   citric_acid           6497 non-null   float64
 3   residual_sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free_sulfur_dioxide   6497 non-null   float64
 6   total_sulfur_dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  class                 6497 non-null   int64
 12  type                  6497 non-null   int64
 13  quality               6497 non-null   int64
dtypes: float64(11), int64(3)
memory usage: 710.7 KB

In [5]:
df.isna().sum().sort_values(ascending=False)

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
class                   0
type                    0
quality                 0
dtype: int64

### Target Variable Distribution

We analyze class balance to motivate metric selection.

In [6]:
target_col = "quality"
df[target_col].value_counts()

4    2251
5    1561
3    1467
6     813
7     204
2     163
1      20
8      18
Name: quality, dtype: int64

In [7]:
df[target_col].value_counts(normalize=True)

4    0.346468
5    0.240265
3    0.225797
6    0.125135
7    0.031399
2    0.025089
1    0.003078
8    0.002771
Name: quality, dtype: float64

### Attributes Distribution

We analyze them to see if they can really add value to the analysis

In [8]:
numeric_cols = df.drop(columns=["quality", "class", "type"]).columns

df[numeric_cols].describe()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000

In [14]:
for col in ["class", "type"]:
    print(f"\n=== {col.upper()} ===")
    print(df[col].value_counts())
    print(df[col].value_counts(normalize=True))

=== CLASS ===
4    2251
5    1561
3    1467
6     813
7     204
2     163
1      20
8      18
Name: class, dtype: int64
4    0.346468
5    0.240265
3    0.225797
6    0.125135
7    0.031399
2    0.025089
1    0.003078
8    0.002771
Name: class, dtype: float64

=== TYPE ===
1    4898
0    1599
Name: type, dtype: int64
1    0.753886
0    0.246114
Name: type, dtype: float64

### Initial Observations

- The Wine Quality dataset contains 6497 observations and 14 features, with no missing values.
- All explanatory variables are numerical physicochemical measurements, resulting in a homogeneous
  and low-sparsity feature space.
- Feature distributions exhibit heterogeneous scales and the presence of extreme values,
  motivating feature normalization prior to distance-based or gradient-based learning.
- The target variable (wine quality) is an ordinal multi-class variable with strong class imbalance,
  as most observations are concentrated in quality levels 3–5, while extreme quality levels are rare.
- The binary categorical feature type introduces a clear structural separation between wine groups
  without increasing dimensionality.

### Preliminary Hypothesis

Based on the numerical nature of the features, scale heterogeneity, and class imbalance, we hypothesize that:

- Distance-based methods (kNN) will perform competitively after proper feature scaling, as the
  feature space is continuous and moderately low-dimensional.
- Linear models may underperform due to non-linear relationships between physicochemical attributes
  and wine quality.
- Tree-based models are expected to effectively capture non-linear interactions between attributes,
  but may overfit minority quality classes without sufficient regularization.